[Unit]
Description=rtesip Kiosk Display
After=rtesip.service
Wants=rtesip.service
ConditionPathExists=/usr/bin/labwc

[Service]
Type=simple
User=kiosk
Group=kiosk
Nice=10
SupplementaryGroups=video render input tty audio
Environment=WLR_LIBINPUT_NO_DEVICES=1
Environment=XDG_RUNTIME_DIR=/run/user/997
Environment=HOME=/home/kiosk
ExecStart=/usr/bin/labwc -s "chromium --kiosk --noerrdialogs --disable-infobars --disable-session-crashed-bubble --no-first-run --disable-translate --disable-features=TranslateUI --disable-application-cache --disk-cache-size=0 --check-for-update-interval=31536000 --disable-pinch http://127.0.0.1/?kiosk=1"
Restart=on-failure
RestartSec=5
TimeoutStopSec=10

[Install]
WantedBy=multi-user.target
