#!KAMAILIO

####### Global Parameters #########

debug=1
log_stderror=no
fork=yes
children=4
enable_tls=1

listen=tls:0.0.0.0:5061 advertise 54.220.131.205:5061
alias="sip.rtegroup.ie"

#!define WITH_TLS

####### Modules ########

loadmodule "tm.so"
loadmodule "jsonrpcs.so"
modparam("jsonrpcs", "fifo_name", "/run/kamailio/kamailio_rpc.fifo")

loadmodule "sl.so"
loadmodule "tls.so"
loadmodule "rr.so"
loadmodule "maxfwd.so"
loadmodule "sanity.so"
loadmodule "textops.so"
loadmodule "sdpops.so"
loadmodule "xlog.so"
loadmodule "pv.so"
loadmodule "siputils.so"
loadmodule "usrloc.so"
loadmodule "registrar.so"
loadmodule "auth.so"
loadmodule "auth_db.so"
loadmodule "db_mysql.so"
loadmodule "nathelper.so"
loadmodule "rtpengine.so"
loadmodule "uac.so"

modparam("tls", "config", "/etc/kamailio/tls.cfg")

####### Module Parameters ########

modparam("auth_db", "db_url", "mysql://kamailio:877807@localhost/kamailio")
modparam("auth_db", "calculate_ha1", 1)
modparam("auth_db", "password_column", "password")
modparam("auth_db", "use_domain", 1)

modparam("usrloc", "db_url", "mysql://kamailio:877807@localhost/kamailio")
modparam("usrloc", "db_timer_clean", 1)
modparam("usrloc", "timer_interval", 60)
modparam("usrloc", "db_mode", 3)
modparam("usrloc", "use_domain", 1)

modparam("registrar", "method_filtering", 1)
modparam("registrar", "max_contacts", 2)
modparam("registrar", "default_expires", 3600)
modparam("registrar", "max_expires", 3600)

modparam("rr", "enable_full_lr", 1)
modparam("rr", "append_fromtag", 1)

modparam("tm", "auto_inv_100_reason", "Trying")

modparam("rtpengine", "rtpengine_sock", "udp:localhost:2223")

modparam("nathelper", "received_avp", "$avp(received)")

modparam("uac", "auth_username_avp", "$avp(auser)")
modparam("uac", "auth_password_avp", "$avp(apass)")
modparam("uac", "auth_realm_avp", "$avp(arealm)")

####### Routing ########

request_route {

    xlog("L_INFO", ">>> $rm from $si:$sp user=$fU ruri=$ru\n");

    if (!mf_process_maxfwd_header("10")) {
        sl_send_reply("483", "Too Many Hops");
        exit;
    }

    if (!sanity_check("1511", "7")) {
        sl_send_reply("400", "Bad Request");
        exit;
    }

    # --- In-dialog requests ---
    if (has_totag()) {
        if (loose_route()) {
            if (uri == myself) {
                if (!lookup("location")) {
                    xlog("L_WARN", "in-dialog lookup failed for $rU\n");
                }
            }
            if (is_method("INVITE|UPDATE|ACK") && has_body("application/sdp")) {
                rtpengine_manage("replace-origin replace-session-connection");
            }
            t_relay();
            exit;
        }

        if (is_method("ACK")) {
            if (t_check_trans()) {
                t_relay();
            }
            exit;
        }
        sl_send_reply("481", "Call/Transaction Does Not Exist");
        exit;
    }

    # --- Initial requests ---

    if (is_method("CANCEL")) {
        if (t_check_trans()) {
            rtpengine_delete();
            t_relay();
        }
        exit;
    }

    t_check_trans();

    if (is_method("REGISTER")) {
        route(REGISTER);
        exit;
    }

    if (is_method("INVITE")) {
        if ($fd == "pstn.twilio.com") {
            route(PSTN_IN);
            exit;
        }
        if ($fd == "rte.pstn.twilio.com") {
            route(PSTN_IN);
            exit;
        }
        route(INVITE);
        exit;
    }

    if (is_method("OPTIONS")) {
        sl_send_reply("200", "OK");
        exit;
    }

    sl_send_reply("405", "Method Not Allowed");
    exit;
}

####### REGISTER ########

route[REGISTER] {
    if (!www_authorize("sip.rtegroup.ie", "subscriber")) {
        www_challenge("sip.rtegroup.ie", "0");
        exit;
    }
    if (!save("location")) {
        sl_send_reply("500", "Registration Failed");
        exit;
    }
    exit;
}

####### INVITE ########

route[INVITE] {
    if (!proxy_authorize("sip.rtegroup.ie", "subscriber")) {
        proxy_challenge("sip.rtegroup.ie", "0");
        exit;
    }
    consume_credentials();

    # Check if dialling a PSTN number
    if ($rU =~ "^\+[1-9][0-9]+") {
        route(PSTN_OUT);
        exit;
    }
    if ($rU =~ "^00[1-9][0-9]+") {
        route(PSTN_OUT);
        exit;
    }
    if ($rU =~ "^[1-9][0-9][0-9][0-9][0-9][0-9][0-9]") {
        route(PSTN_OUT);
        exit;
    }

    # --- Check if external SIP destination ---
    if (!(uri == myself)) {
        xlog("L_INFO", "External SIP call: $fU -> $rU@$rd\n");
        record_route();
        rtpengine_offer("replace-origin replace-session-connection");
        t_on_reply("MANAGE_REPLY");
        t_on_failure("CALL_FAILURE");
        if (!t_relay()) {
            sl_reply_error();
        }
        exit;
    }

    # --- Local call ---

    if (proto == TLS) {
        route(CHECK_SRTP);
    }

    if (!lookup("location")) {
        xlog("L_WARN", "INVITE to $rU - destination not registered\n");
        sl_send_reply("404", "Not Found");
        exit;
    }

    record_route();

    if (proto == TLS) {
        rtpengine_offer("replace-origin replace-session-connection ICE=remove RTP/SAVP codec-mask-PCMU codec-mask-PCMA codec-mask-G729 codec-mask-telephone-event");
    } else {
        rtpengine_offer("replace-origin replace-session-connection");
    }

    t_on_reply("MANAGE_REPLY");
    t_on_failure("CALL_FAILURE");

    if (!t_relay()) {
        sl_reply_error();
    }
    exit;
}

####### Inbound PSTN from Twilio ########

route[PSTN_IN] {
    xlog("L_INFO", "Inbound PSTN from Twilio: $fU -> $rU\n");
    $rU = "user1";
    $rd = "sip.rtegroup.ie";

    if (!lookup("location")) {
        xlog("L_WARN", "Inbound PSTN - destination $rU not registered\n");
        sl_send_reply("480", "Temporarily Unavailable");
        exit;
    }

    record_route();
    rtpengine_offer("replace-origin replace-session-connection ICE=remove RTP/SAVP");
    t_on_reply("MANAGE_REPLY");
    t_on_failure("CALL_FAILURE");

    if (!t_relay()) {
        sl_reply_error();
    }
    exit;
}

####### Outbound PSTN via Twilio ########

route[PSTN_OUT] {
    # Normalize to E.164
    if ($rU =~ "^00") {
        strip(2);
        prefix("+");
    }
    if (!($rU =~ "^\+")) {
        prefix("+");
    }

    xlog("L_INFO", "PSTN outbound: $fU calling $rU via Twilio\n");

    # Set caller ID to Twilio number
    $fU = "+14784436024";

    record_route();

    # RTPEngine - modify SDP for Twilio
    rtpengine_offer("replace-origin replace-session-connection ICE=remove RTP/SAVP SDES-pad crypto-suite=AES_CM_128_HMAC_SHA1_80");

    # Set destination to Twilio trunk
    $rd = "rte.pstn.twilio.com";
    $du = "sip:rte.pstn.twilio.com:5061;transport=tls";
    force_send_socket(tls:0.0.0.0:5061);

    # Store credentials for Twilio 407 challenge
    $avp(auser) = "kamailio";
    $avp(apass) = "Tighmaceoghan1!";
    $avp(arealm) = "sip.twilio.com";

    # Strip headers that Twilio rejects
    remove_hf("Route");
    remove_hf("Session-Expires");
    remove_hf("Min-SE");

    t_on_reply("MANAGE_REPLY");
    t_on_failure("TWILIO_AUTH");

    if (!t_relay()) {
        sl_reply_error();
    }
    exit;
}

####### Check for SRTP offer ########

route[CHECK_SRTP] {
    if (!search_body("a=crypto") && !search_body("a=fingerprint")) {
        xlog("L_WARN", "TLS call from $fU without SRTP offer - rejecting\n");
        sl_send_reply("488", "Not Acceptable Here - SRTP Required");
        exit;
    }
}

####### Reply handling ########

onreply_route[MANAGE_REPLY] {
    if (status =~ "[12][0-9][0-9]" && has_body("application/sdp")) {
        rtpengine_answer("replace-origin replace-session-connection");
    }
}

####### Failure handling ########

failure_route[CALL_FAILURE] {
    if (t_is_canceled()) {
        rtpengine_delete();
        exit;
    }
}

####### Twilio 407 auth handling ########

failure_route[TWILIO_AUTH] {
    if (t_is_canceled()) {
        rtpengine_delete();
        exit;
    }

    xlog("L_WARN", "Twilio failure: status=$rs reason=$rr\n");

    if (t_check_status("407")) {
        xlog("L_INFO", "Twilio 407 challenge - authenticating\n");
        uac_auth();
        rtpengine_offer("replace-origin replace-session-connection ICE=remove RTP/SAVP SDES-pad crypto-suite=AES_CM_128_HMAC_SHA1_80");
        t_on_reply("MANAGE_REPLY");
        t_on_failure("CALL_FAILURE");
        t_relay();
        exit;
    }
}
